@page "/"
@inject IConfiguration Config
@inject IMtgApi Api
@inject IJSRuntime JS
@using Serilog
@using System.Text
@implements IDisposable

<h3 class="mb-4">Convert your MtG collection .csv file</h3>

<div class="container">
	<div class="form-group row mb-3">
		<div class="col-md-3 text-end">
			<label for="fileUpload">Upload CSV File:</label>
		</div>
		<div class="col-md-9">
			<!-- TODO Add "multiple  after OnChange to support uploading multiple files -->
			<InputFile id="fileUpload" OnChange="@HandleFileUpload" />
		</div>
	</div>

	<div class="form-group row mb-3">
		<div class="col-md-3 text-end">
			<label for="inputFormat">Select Input Format:</label>
		</div>
		<div class="col-md-9">
			<InputSelect id="inputFormat" @bind-Value="_selectedInputFormat">
				@foreach (var deckFormat in _supportedFormats)
				{
					<option>@deckFormat</option>
				}
			</InputSelect>
		</div>
	</div>

	<div class="form-group row mb-3">
		<div class="col-md-3 text-end">
			<label for="outputFormat">Select Output Format:</label>
		</div>
		<div class="col-md-9">
			<InputSelect id="outputFormat" @bind-Value="_selectedOutputFormat">
				@foreach (var deckFormat in _supportedFormats)
				{
					<option>@deckFormat</option>
				}
			</InputSelect>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-3 text-end">
			<button @onclick="Convert" disabled="@(_csvFile is null)" class="btn btn-primary">
				@if (_isConverting)
				{
					<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
					<span class="visually-hidden">Processing...</span>
					<text>Converting...</text>
				}
				else
				{
					<text>Convert</text>
				}
			</button>
		</div>
		<div class="col-md-9">
			@if (!_isConverting && _processedRecords.Any())
			{
				<button class="btn btn-success" @onclick="DownloadResult">Download Converted .csv</button>
			}
		</div>
	</div>
</div>


@if (!string.IsNullOrEmpty(_summary))
{
	<p style="white-space: pre-line" >@_summary</p>
}

@if (_processedRecords.Any())
{
	<h4>Processed Records</h4>
	<!-- Display the processed records as needed -->
	<ul>
		@foreach (var record in _processedRecords)
		{
			<li>@record</li>
		}
	</ul>
}

@code {
	private const int MaxFileSize = 5 * 1024 * 1024; // 5MB
	private static readonly IReadOnlyList<string> _supportedFormats = CardMapFactory.Supported;

	private string _selectedInputFormat = _supportedFormats[0];
	private string _selectedOutputFormat = _supportedFormats[1];

	private List<string> _processedRecords = [];
	private IBrowserFile? _csvFile;

	private string? _summary;
	private bool _isConverting;
	private string? _resultFileName;
	private MemoryStream? _resultStream;

	private async Task HandleFileUpload(InputFileChangeEventArgs e)
	{
		// Store the file for later use
		// TODO GetMultipleFiles() support
		_csvFile = e.File;
		await Api.LoadData();
	}

	private async Task Convert()
	{
		try
		{
			_isConverting = true;
			StateHasChanged();
			await Task.Delay(1);

			Stream csvStream = new MemoryStream();
			await _csvFile!.OpenReadStream(maxAllowedSize: MaxFileSize).CopyToAsync(csvStream);
			csvStream.Position = 0;

			var reader = new MtgCardCsvHandler(Api, Config, _selectedInputFormat);
			var writer = new MtgCardCsvHandler(Api, Config, _selectedOutputFormat);

			var collection = reader.ParseCollectionCsv(csvStream);
			_summary = collection.GenerateSummary();

			var cards = collection.Cards;
			_processedRecords = cards.Select(c => c.Printing.Name).ToList();
			_resultFileName = $"{_selectedInputFormat}-to-{_selectedOutputFormat}_{DateTime.Now:yyyy-MM-dd_HH-mm-ss}.csv";
			_resultStream?.Dispose();
			_resultStream = new MemoryStream();
			writer.WriteCollectionCsv(cards, _resultStream);
		}
		catch (Exception ex)
		{
			_summary = $"Unexpected error converting file: {ex.Message}";
		}
		finally
		{
			_isConverting = false;
			StateHasChanged();
		}
	}

	private async Task DownloadResult()
	{
		if (_resultStream is null || string.IsNullOrEmpty(_resultFileName))
		{
			Log.Warning("No result available, this should not happen");
			return;
		}

		_resultStream.Position = 0;
		using var streamRef = new DotNetStreamReference(stream: _resultStream, leaveOpen: true);
		await JS.InvokeVoidAsync("downloadFileFromStream", _resultFileName, streamRef);
	}

	public void Dispose()
	{
		_resultStream?.Dispose();
	}
}
